/*** Contenido ***/

form
{
    width: 35%;
    height: 450px;
    position: relative;
    left: 32.5%;
    top: 125px;
    background-color: gray;
    border-radius: 10px;
}

#Correo
{

}

input:focus:invalid 
{
background: url(rojo.png) no-repeat 98% center;
}

input:focus:valid
{
background: url(verde.png) no-repeat 98% center;
}